{% extends 'base.html' %}

{% block title %}
Новая задача
{% endblock %}

{% block pagecontent %}


<div class = "row justify-content-center align-items-center">

    <div class = "col col-md-9 bg-light border rounded">
        <br>
        <h1 align="center">Создание новой задачи</h1><br>
        <form method="post">
            {% csrf_token %}

            {{form.title}}<br>
            {{form.diskr}}<br>

            <button type = 'submit' class="btn-success rounded">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}