{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block pagecontent %}

{% if tasks %}
{% for el in tasks %}

<div class = "row justify-content-center align-items-center">
    <div class = "col col-md-8 bg-light border rounded">
        <span class = "py-2 px-2 bg-$teal-500 text-white rounded">{{el.created}}</span>
        <br>
        <p></p>
        <p class="fs-2" align="LEFT">{{el.title}}</p>
        <p class = 'fs-3' align="left">{{el.diskr}}</p>
    </div>
    <p></p>

</div>


{% endfor %}

{% else %}
    <p>У вас нет записей</p>
{% endif %}
{% endblock %}

